/* styles.css */
:root {
  --max-width: 100px;
  --spec-color: orangered;
  --spec-color-two: #ccc;
  --max-width: 1200px;
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #222222;
}

p {
  margin: 10px;
}


header {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.555)),  
  url(images/thunderstorm-countryside.jpg) no-repeat center center/cover;

  color: white;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

header nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  /* max-width: var(--max-width); */
  margin: 0 auto;
  padding-right: 80px;
  padding-left: 80px;
  background: #000a2480;
  border-bottom: 1px solid #182e50;
  

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  transition: background 0.3s ease;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #ccc;
}

nav ul li a:hover {
  border-bottom: 2px solid var(--spec-color);
}

nav ul li a:active {
  opacity: 0.5;
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

div.social-media {
  display: flex;
  gap: 10px;;
}

div.social-media .fab:hover {
 opacity: 0.5;
}


.container {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  padding: 20px;
  color: white;
  position: relative;
  z-index: 1; /* Ensure the container is above the background image */
  top: 200px; /* Adjust this value to match the height of your nav */
}
#city-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 70px;
}
#city-input {
  width: 60%;
  font-size: 18px;
  max-width: 400px;
  padding: 8px;
  border-radius: 5px;
  outline: none;
}

#city-input::placeholder {
  color: #ccc;
}
#city-input:focus {
  border: 2px solid #099;
  transition: all 0.3s ease;
}



#weather-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 5px;
  background: #222;
  margin-top: 4rem;
  overflow: auto;
  transition: all 0.3s ease;
  max-width: 100%;
}


button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  background: #d0e2e2;
  color: #000;
}
button:hover {
  background: #a1b7b7;
  color: #292329;
  transition: all 0.3s ease;
}

button i {
  margin-right: 5px;
}

/* Utilities */
.spc-color {
  color: var(--spec-color);
  font-weight: bold;
}

.spc-color-two {
  color: var(--spec-color-two);
  font-weight: 700;
}

.spc-color-three {
  color: goldenrod
}

.hidden {
  display: none;
}
.error-message {
  background: #ccc;
  color: red;
  padding: 0.5rem;
  margin-top: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: #222222;
  color: white;
  padding: 2rem;
  border-top: 1px solid #ccc;
}

footer nav a {
    margin: 10px;
    color: #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

footer a:hover {
  opacity: 0.5;
  transition: all .3s ease;
}

@media screen and (max-width: 500px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 19px;
    flex-wrap: nowrap;
    height: 100px;
  }

  nav h1,
  nav ul,
  .social-media {
    margin-top: 2px;
  }

  .container h1 {
    font-size: 2rem;
  }

  footer nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: px;
    padding: 5px;
    color: #ccc;
    margin-top: 0;
  }

  footer p:first-child {
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer p:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}


